<div class="warning">Well, that's because we threw it together in one day – and because you are using Internet Explorer or Firefox (or an Android device, those are iffy). In Chrome and Safari it works awesome though. Sorry. X</div>
<div class="vince-container">
  <div class="vince-head"><a href="#" class="play no-underline" ><img src="/images/vince/head.png" alt="Button" class ="push-button" /></a></div>
  <div class="vince-background"></div>
  <div class="vince-from">
	<img src="<%= @track.artwork_url %>"/>
	<p class="vince-header"><%= @track.title %></p>
  	<div class="vince-deliver"></div>
    <div class="vince-all"><a href="http://soundcloud.com/beneckerson/sets/goodbye-vincent" target="_blank">See Them All</a></div>
  </div>
  <div class="vince-brought"></div>
  <div class="vince-cta"><a href="#">NOT WORKING?</a></div>
</div>
</div>
<script type="text/javascript">
  document.title = "GOODBYE VINCENT!";
  $('.warning').hide();
  $('.vince-cta').click( function(e){ e.preventDefault(); $('.warning').toggle(); });
  $('.warning').click( function(e){ $(this).toggle(); })
  $('.vince-brought').click( function() { window.location = 'http://pushitrealgood.com'; });
  $('.vince-deliver').click( function() { window.location.reload(); });
  var clip = document.createElement('audio');
  clip.src = "http://api.soundcloud.com/tracks/<%= @track.id %>/stream?client_id=72325d0b84c6a7f4bbef4dd86c0a5309";
  clip.load();
  clip.autobuffer = true;
  clip.preload = 'auto';
  $('.push-it').append(clip);
  $('.play').click( function(e) {
	e.preventDefault();
	clip.play();
	$('.vince-head img').attr('src','/images/vince/head.gif');
	var timeout = window.setTimeout( function () { $('.vince-head img').attr('src','/images/vince/head.png'); }, 5000);
  });
</script>