@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/league_gothic-webfont.eot');
    src: url('/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league_gothic-webfont.woff') format('woff'),
         url('/fonts/league_gothic-webfont.ttf') format('truetype'),
         url('/fonts/league_gothic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal; }

html, body, .wrapper { height: 100%; }
body > .wrapper {
	height: auto;
	min-height: 100%;
	width: 100%; }
body {
	text-align: center;
	font-family: "League Gothic", Helvetica, Arial, sans-serif;
	color: #111;
	background: url(/images/texture.jpg) repeat transparent;
	letter-spacing: 0.15em; }
a:link, a:visited, a:hover {
	text-transform: uppercase;
	font-size: 160%;
	font-family: "League Gothic", Helvetica, Arial, sans-serif; }
h1 {
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase; 
	font-weight: normal;
	letter-spacing: .07em;
	font-size: 300%; }
td { padding: 5px 10px; }
.content {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background: url(/images/background.jpg) center top #fff no-repeat;
	border-bottom: #667 solid 4px; }
.nav_bar {
	display: block;
	margin: 0 auto;
	width: 100%;
	padding:5px 0;
	color: #282625;
	background-color: #ccc;
	font-size: 140%;
	text-transform: uppercase; }
.nav_bar a:link, .nav_bar a:visited, .nav_bar a:hover {
	color: #f15306;
	background-color: #282625;
	padding: 5px 10px;
	margin: 0;
	text-decoration: none;
	font-size: 100%; }
.nav_bar a:hover {
	color: #282625;
	background-color: #f15306; }
.nav_bar .username { color: #f15306; }
.nav_bar .social-buttons { width: 300px; display:block; float:left; }
.facebook-button, .google-button, .twitter-button { float:left; }
.google-button, .twitter-button { padding-top: 3px; }
.session_status { float: right; }

/* Home Page */

.upper-content {
	width: 960px;
	text-align: left;
	margin: 0 auto;
	padding-top: 60px;
	padding-bottom: 30px; }
.push-it-home { 
	display:block;
	text-align:center;
	padding-top: 20px;
	float:left; }
.push-it a.play {
	display: block;
	width: 250px;
	height: 250px;
	overflow: hidden;
	margin: 0 auto; }
.three-steps {
	margin-top: 30px;
	display: block;
	text-align: center;
	float: right; }
.step-container {
	margin:0 auto;
	margin-top: 100px;
	width: 400px;
	font-size: 300%;
	display: block; }
.step-container * {	float: left; }
.step {
	display: block;
	width: 146px;
	height: 145px;
	margin: 0 15px; }
.sound_step { background: url(/images/sound_block.png) no-repeat transparent; }
.button_step { background: url(/images/button_block.png) no-repeat transparent; }
.share_step { background: url(/images/share_block.png) no-repeat transparent; }
.arrow {
	display: block;
	width: 80px;
	height: 145px;
	background: url(/images/arrow.png) no-repeat center transparent; }
.create-bar {
	display:block;
	width:400px;
	margin: 80px auto 60px auto;
	margin-top:80px; }
.create-bar div {
	color:#f15306;
	text-align:center;
	font-size:160%;
	text-transform:uppercase;
	line-height:1.4em; }
.count-pages {
	margin-left:46px;
	float:left; }
.count-pages span.count { font-size:200%; }
a.create-link { 
	text-decoration: none;
	font-size: 450%;
	margin:0 auto;
	border-radius: 5px;
	text-align: center;
	display: block;
	width: 146px;
	background-color:#282625;
	padding: 5px 30px; }
a.create-link:hover	{
	color:#282625;
	background-color:#f15306; }
.powered-by {
	float:right;
	margin-right: 40px;
 	margin-top: -15px;}
.soundcloud-logo {
	background: url(/images/soundcloud-logo.png) no-repeat transparent;
	width:80px;
	height:50px;
	display:block; }
.small-logo {
	display:block;
	width:160px;
	height:160px;
	float:left;
	background: url(/images/push-it-logo-small.png) transparent no-repeat;
	z-index:100; }

/* User Page */

form.button_to, form.button_to div{ display:inline; }
.user-info {
	display:block;
	width:800px;
	position:relative;
	z-index:20;
	margin: 0 auto;
	text-align: center; }
.user-bar { 
	margin:0 auto;
	padding-top:60px; 
	width:642px; 
	text-align:right; }
.user-bar p { display:inline; }
.user-bar-border { 
	background:url(/images/user-bar.png) transparent no-repeat; 
	width: 642px; height:2px;
	margin:0 auto; }
.page-amt, .date-joined {
	font-size:385%;
}
.num-pages, .join-date { float:right; }
.num-pages div { float:left; }
.join-date div { float:right; }
.pages-made, .member-since {
	font-size:175%;
	line-height:20px;
	text-transform:uppercase;
}
.pages-made { text-align: left; margin: 9px 30px 0 5px; }
.member-since { text-align: right; margin: 9px 5px 0 0; }
.whose-pages {
	display:inline;
	font-size:385%;
	letter-spacing:0.02em;
	color:#f14306; }
.new-page {
	float:left;
	margin-left:70px;
}
.new-page a:link, .new-page a:visited, .new-page a:hover {
	width:90px;
	height:37px;
	display:block;
	line-height:2.5em;
	background:url(/images/new-page.png) transparent no-repeat 0 10px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
}
.new-page a:hover {
	background-position:-90px 10px;
}

/* Featured Items */

.lower-content {
	padding-top: 20px;
	display:block;
	width: 960px;
	margin: 0 auto;
	padding-bottom: 60px; }
.lower-content h1 {
	color: #fff;
	text-align: center;
	margin-bottom: 5px;
}
.top-ten {  width: 450px; text-align:center; margin-bottom: 30px; float: left;}
.top-item {
	margin:0 auto;
	display:block;
	width:450px;
	height:50px;
	border-radius: 8px;
	background-color:rgba( 255, 255, 255, .6);
	margin-bottom:5px;
	line-height:2em;
	text-align:left; }
.top-item:hover { background-color:rgba( 255, 255, 255, .8); }
.top-item img, .page p { display:inline; }
.top-item .button-image {
	margin-top:5px;
	margin-left:5px;
	height:40px;
	width:40px;
	overflow:hidden;
	margin-right:20px;
	float:left; }
.top-item .page-info {
	float:left;
	line-height:50px; }
.user-links { 
	float:right; 
	line-height:50px;
	height:50px;
	margin-right:10px; }
.user-links a {
	float:right; }
.user-page-url {
	float:left;
	text-transform:uppercase;
	font-weight:normal;
	font-size:120%;
	font-family:"League Gothic", sans-serif;
	letter-spacing:0.07em;
	height:50px; }
.user-page-url a:link, 
.user-page-url a:visited { color:#282625; text-decoration:none; }
.user-page-url a:hover { color:#f15306; }
.user-page-tagline {
	float:left;
	font-size:140%;
	font-style:italic;
	color:#333;
	text-transform:uppercase;
	margin-left:10px;
}
.visit-btn { display:block; width:50px; height:50px; background:url(/images/visit-btn.png) no-repeat 0 14px; margin-left:-1px; }
.visit-btn:hover { background-position: -50px 14px; }
.edit-btn { display:block; width:36px; height:50px; background:url(/images/edit-btn.png) no-repeat 0 14px; }
.edit-btn:hover { background-position: -36px 14px; }
.delete-btn { display:block; width:49px; height:50px; background:url(/images/delete-btn.png) no-repeat 0 14px; }
.delete-btn:hover { background-position: -49px 14px; }

.featured-button {
	display: block;
	width: 360px;
	float: right; }
.random-button {
	width: 360px;
	border-radius: 8px;
	background-color:rgba( 255, 255, 255, .6); 
	padding-bottom:20px; }
.random-button:hover { background-color:rgba( 255, 255, 255, .8); }
.featured-button #push-it { margin-top: 10px; margin-bottom: 10px; }
.lower-content .featured-title,  .lower-content .featured-headline { display:block; margin: 0 auto; text-align:center; }
.lower-content .featured-headline { margin-bottom: 5px; }
.featured-title a:link,
.featured-title a:visited { font-size: 100%; text-align: center; margin: 0 auto; }
.featured-author { 
	color:#282625;
	font-size:140%;
	font-style:italic; 
	font-weight:bold;
	font-family: "Georgia", 'Times New Roman', Times, serif; }
.featured-author .author { 
	text-transform: uppercase; 
	font-style:normal; 
	font-weight:normal;
	font-family: "League Gothic", Arial, sans-serif;
	margin-left: 5px;
	font-size: 160% }

/* Create New Page */

.create-new-mask {
	margin: 10px auto 20px auto;
	width: 642px;
	display: block;
	position: relative; }
.create-new {
	position: relative;
	left: 0;
	width:642px;
	padding: 0;
	margin: 0; }
.form-division {
	display:block;
	width: 642px;
	position:relative;
	overflow: hidden; }
.division-inner {
	width: 602px;
	display: block;
	padding: 20px;
}
.button:link,.button:visited, .button:hover {
	padding:0 10px;
	height:1.8em;
	line-height:1.8em;
	display: block;
	background-color:#282625;
	color:#f14306;
	text-decoration:none; }
.next-btn {
	position: absolute;
	bottom: 20px;
	right: 20px; }
.back-btn {
	position: absolute;
	bottom: 20px;
	left: 20px; }
.header {
	background-color: rgba(40, 38, 37, 0.8); 
	color: #fff;
	padding: 5px 0;
	font-size: 200%;
	cursor: pointer; }
.upload-coming-soon {
	text-transform: uppercase;
	font-size: 160%;
	line-height: 30px;
	margin-top: 30px;
}
.plus, .coming-soon-notice {
	color:#f14306;
}

/* Search */

input#search {
	width: 200px;
	height: 33px;
	padding:0 5px;
	margin-right:10px;
}
.search-terms {
	padding:0;
	margin:0;
	display:block;
	margin-bottom:10px; }
.search-terms .centered {
	display:block;
	margin: 0 auto;
	width: 411px;
	height: 37px;
	padding-left:140px;
}
.search-results {
	height: 310px;
}
.search-results .header {
	line-height: 32px;
}
.search {
	width:620px;
	height:310px;
	overflow:auto;
	display:block;
	text-align:left;
	margin:0 auto; }
.search-terms .search-button {
	display: block;
	vertical-align: middle;
	height: 37px;
	width: 37px;
	margin-right:10px;
	float: left;
	background-color: #282625; }
.search-terms .search-button img { vertical-align: middle; }
input#search { float:left; }

.search img { vertical-align:middle; }
.track-name {
	margin-top:10px;
	background-color: transparent;
	padding:10px;
	border: 1px solid transparent;
	display: block; 
	height: 25px;
	font-size: 160%;
	text-transform: uppercase;
	cursor: none; }
.track {
	width:97%;
	padding: 10px 0;
	border-bottom: dashed thin #111; }
.track a {
	margin-left:10px; }
.track-header { margin-bottom:10px; }
.track-title {
	font-size:200%;
	text-transform: uppercase;
	font-family: "League Gothic", Arial, sans-serif;
	font-weight: normal; }
.track-title a:link,
.track-title a:visited {
	color: #282625;
	font-size:100%; }
.track img {
	width:35px;
	height: 35px; }
.track img.left { margin-left: 10px; }
.track .from { line-height: 35px; text-transform: uppercase; font-size: 160%; }
.track .from a:link,
.track .from a:visited { font-size: 100%; margin:0; }
.track .from-script { font-family: "Georgia", "Times New Roman", serif; text-transform: none; font-style: italic; font-size: 80%;}
.track .duration { line-height:35px; margin: 0 10px; font-size: 160%; }
.track .genre { line-height: 35px; margin: 0 10px; display:block; font-size: 120%; text-transform: uppercase;}
.track .no-stream { line-height: 35px; margin: 0 10px; }
.continue-from-search { margin-top: 20px;}
.close-results{ float:left;}
.select-track:link, .select-track:visited,.select-track:hover { background-color: #f14306; color:#fff;}

/* Button */

.choose-buttons {
	width:602px;
	padding:0;
	margin: 0 auto;
	display:block;
	text-transform: uppercase; }
.choose-button label {	font-size: 160%; text-transform: uppercase; }
.title-preview {
	height: 30px;
	font-size: 160%;
	line-height: inherit;
	margin-bottom: 10px; }
.span.choose-style { width: 260px;
	overflow:hidden;}
.button-style{ 
	float:right;
	width: 260px;
	overflow: hidden;
	margin: 20px 40px;  }
.button-style-label { margin-bottom: 10px; }
select {
	width:100%;
	display:block; }
.image-preview {
	width: 150px;
	height: 190px;
	overflow: hidden;
	text-align: center;
	margin: 20px 40px;
	float: left; }
.image-preview img { cursor:pointer; }
.button-preview { line-height:150px; }
.choose-color {
	margin: 10px auto;
	display: block;
	text-align: center;
	position: relative; }
.colors {
	display: block;
	position: relative;
	text-align: center;
	margin-top: 10px; }
.color-option {
	width: 60px;
	margin: 0 5px;
	display:inline-block; }
.color-label .color-label-wrapper {
	display: block;
	padding: 10px;
	width: 40px;
	height: 40px;
	background-color:  rgba( 0,0,0, 0.5);
	border-radius: 7px;
	margin-bottom: 5px; }
.color-label .color-label-wrapper label {
	display: block;
	width: 40px;
	height: 40px; }
label.RED   	{ background-color: #cc0000; }
label.BLUE  	{ background-color: #335dc7; }
label.GREEN  	{ background-color: #008400; }
label.AQUA		{ background-color: #2dbbd5; }
label.YELLOW 	{ background-color: #ecd300; }
label.PURPLE 	{ background-color: #563198; }
label.PINK 		{ background-color: #e028d5; }
label.GRAY 		{ background-color: #282625; }
label.ORANGE 	{ background-color: #ea4d00; }

/* Naming */

.naming { 
	text-align: left;
	width: 480px;
	margin: 0 auto;
	margin-top: 30px; }
.naming input[type=text] {
	padding: 5px; }
input[type=submit] {
	font-family: "League Gothic";
	font-size:160%;
	text-transform: uppercase;
	margin-top: 10px;
	padding: 0px 10px;
	line-height: 1.8em;
	height: 1.8em;
	border: none;
	background-color: #282625;
	color: #f14306;
	text-decoration:none; }
#page_title_url { width: 200px; }
#page_tagline { width: 303px; }
#page_signature { width: 383px;}
.inputs {
	margin-bottom:20px;
	text-transform: uppercase;
	line-height: 30px;
}
.inputs * { float: left; }
.inputs input { margin-left: 10px; }


/* Registration Page */


.registration { text-transform: uppercase; background: url(/images/background.png) center no-repeat #fff; }
.registration .go-home { padding-top: 20px; }
.registration input[type=text],
.registration input[type=email],
.registration input[type=password] { font-size: 160%; margin-bottom: 20px; }
.registration label { font-size:160%; }
.registration h2 { padding:10px 0; font-size:250%; }
.registration p { margin-bottom:10px; }


/* Footer */

footer {
	clear:both;
	background-color: transparent;
	position: relative;
	z-index:10;
	display:block;
	width: 100%;
	height:4em;
	text-align:center; }
nav {
	margin: 0 auto;
	margin-top: 20px;
	display:block;
	width: 960px; }
nav ul li {
	display:inline;
	color:#eee;
	font-size: 160%; 
	width:160px; }
nav ul li a:link, nav ul li a:visited, nav ul li a:hover {
	text-decoration:none;
	text-transform:uppercase;
	color:#eee;
	font-size:100% }
nav ul li a:hover { color:#f14306; }
.footer-count-pages {
	display:inline;
	width:150px;  
	color:#f14306; }
.footer-count-pages div{ display:block; width:150px; }
.footer-count-pages span.footer-count { font-size:190%; }
.footer-powered-by {
	display:inline; }
.footer-powered-by a:link,	
.footer-powered-by a:visited { color:#f14306; }
.footer-soundcloud-logo {
	display: inline-block;
	background: url(/images/soundcloud-logo-small.png) no-repeat transparent center;
	width: 42px;
	height: 26px;
	margin: 0 auto; }
.footer-powered-by a, .footer-mckinney a { line-height: 26px; }
.footer-mckinney .inner a:hover { color: #fff; }
.footer-mckinney-logo {
	display: inline-block;
	background: url(/images/mckinney-logo-small.png) no-repeat transparent center;
	width: 26px;
	height: 26px;
	margin: 0 auto; }
.footer-mckinney a img, .footer-powered-by a img {
	vertical-align: text-bottom; }
.footer-mckinney *,
.footer-powered-by * {
	zoom: 1;
	filter: alpha(opacity=60);
	opacity: 0.6; }
.footer-mckinney:hover *,
.footer-powered-by:hover * {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
footer .inner {
	display:block;
	text-transform: uppercase;
	width: 160px;
	float:right;
	vertical-align: text-middle;
	text-align:center; }
footer .single-line-link { line-height:30px; float:left; }
footer .right { float: right; }

/* Button Page Template */ 

.button-page h1{
	font-size: 300%;
	padding-top: 30px; }
.button-page,
.button-page .wrapper { height: 100%;}
.button-page .content {
	text-align: center;
	position: relative;
	border: none;
	height: 100%; }
.info-bar {
	display: block;
	overflow: hidden;
	color: #ccc;
	text-align: center;
	font-size: 160%;
	overflow: hidden;
	margin-bottom:20px; }
#push-it, .push-it {
	margin-top: 40px; }
.holder { 
	width: 800px;
	bottom: 0;
	position: relative; }
.info-bar a:link, .info-bar a:visited, .info-bar a:hover {
	color: #f14306;
	text-decoration: underline;
	font-size: 100%; }
.home-btn {
	width: 100px;
	float: left; }
.creation-status {
	margin: 0 auto;
	text-transform: uppercase;
	color: #282625; }
p.creator { margin-right:20px; }
.button-page .small-logo {
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background: url(/images/push-it-logo-smaller.png) }
.page-social { margin: 0 auto; margin-bottom: 30px; width:290px; margin-top: 120px;}
.facebook-social, .twitter-social, .google-social { float:left; }
.page-session-status {
	margin: 20px 0;
	text-transform: uppercase;
	font-size: 130%;
 	line-height: 1.4em; }
.page-session-status a:link, 
.page-session-status a:visited, 
.page-session-status a:hover {
	font-size: 100%;
}

/* Legal Page */

.legal { 
	font-family: Helvetica, Arial, sans-serif; 
	width: 602px; 
	margin: 1em auto;
	margin-bottom: 2em;
	padding: 20px;
	background-color: rgba( 255, 255, 255, .5 );
	text-align: left;
	font-size:100%; }
.legal a:link, .legal a:visited, .legal a.hover { font-size:100%; font-family: Helvetica, Arial, sans-serif; text-transform: none; }
.legal p { display:block; margin-bottom: 1em; }
.legal p.address { margin:0; }
.legal h3 { display:inline; }
.terms-of-use { color:#282625; }

/* About Us */

.about-us {
	font-family: Helvetica, Arial, sans-serif; 
	width: 602px; 
	margin: 1em auto;
	margin-bottom:2em;
	padding: 20px;
	background-color: rgba( 255, 255, 255, .5 );
	text-align: left; }
.about-us a:link, .about-us a:visited, .about-us a.hover { font-size:100%; font-family: Helvetica, Arial, sans-serif; text-transform: none; }
.about-us p { margin-bottom: 1em;}

/* Utilities */
input:focus, select:focus, .jspContainer:focus, .scroll-pane:focus {
    outline-width: 0;
}
.LV_valid { color: #090; }
.LV_invalid { color: #c00; }
footer .copyright { color:#fff; width: 220px; text-align:left;}
a:link, a:visited, a:hover { color:#f14306; }
.notice {
	padding:10px 0;
	display:block;
	background-color:rgba(241,67,6,0.30);
	border: 1px solid #f14306;
	color:#282625;
	text-align:center;
	text-transform: uppercase;
	font-size: 160%;
	margin-bottom:10px; }
.notice img { margin-left:10px; cursor:pointer; }
.warning {
	padding:10px 0;
	display:block;
	background-color:rgba(255,0,0,0.30);
	border: 1px solid #990000;
	color:#990000;
	text-align:center;
	margin-bottom:10px; }
.inline { display:inline; }
a.tooltip {
	border-bottom: 1px dashed #c0c0c0;
	text-decoration: none;
	text-align:left;
	cursor:help; }
a.tooltip:hover { position: relative; }
a.tooltip span { display: none; }
a.tooltip:hover span {
	display: block;
	width:200px; font-size:70%;
 	position: absolute; top: 15px; left:-185px;
 	padding: 5px; margin: 10px; z-index: 100;
 	background: #f0f0f0; border: 2px dashed #b0b0b0;
	opacity: 0.9; }
.left { float:left; }
.right { float:right; }