@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/league_gothic-webfont.eot');
    src: url('/fonts/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/league_gothic-webfont.woff') format('woff'),
         url('/fonts/league_gothic-webfont.ttf') format('truetype'),
         url('/fonts/league_gothic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal; }

html, body, .wrapper { height:100%; }
body > .wrapper {
	height:auto;
	min-height:100%; }
body {
	text-align:center;
	font-family: "League Gothic", Helvetica, Arial, sans-serif;
	color:#111;
	background:url(/images/background.jpg) center top transparent no-repeat; 
	letter-spacing: 0.15em; }
a:link, a:visited, a:hover { 
	text-transform: uppercase;
	font-size:160%;
	font-family: "League Gothic", Helvetica, Arial, sans-serif; }
h1 { 
	font-family: 'League Gothic', sans-serif;
	text-transform: uppercase; 
	font-weight:normal;
	letter-spacing:.07em;
	font-size:300%; }
td { padding:5px 10px; }
.content { 
	position: relative;
	width: 960px;
	padding: 20px 20px 10.4em 20px;
	margin: 0 auto;
	text-align: center; }
.nav_bar {
	display:block;
	padding-top:12px;
	margin: 0 auto;
	width:960px;
	color:#282625;
	font-size: 140%;
	text-transform:uppercase; }
.nav_bar a:link, .nav_bar a:visited, .nav_bar a:hover {
	color:#f15306;
	background-color:#282625;
	padding:5px 10px;
	margin:0 4px;
	text-decoration:none;
	font-size: 100%; }
.nav_bar a:hover {
	color:#282625;
	background-color:#f15306; }
.nav_bar .username { color:#f15306; }
.facebook-button, .google-button, .twitter-button { float:left; }
.session_status { float: right; }
footer {
	clear:both;
	background-color:#282625;
	border-top: solid .4em #f15306;
	position: relative;
	z-index:10;
	display:block;
	width: 100%;
	height:10em;
	margin-top:-10.4em;
	text-align:center; }
nav {
	margin: 0 auto;
	margin-top: 20px; }
nav ul li {
	display:inline;
	color:#eee;
	font-size: 160%; }
nav ul li a:link, nav ul li a:visited, nav ul li a:hover {
	padding:10px 15px;
	margin:0 20px;
	text-decoration:none;
	text-transform:uppercase;
	color:#eee;
	font-size:100% }
nav ul li a:hover { color:#f14306; }

/* Home Page */

.push-it { 
	display:block;
	text-align:center; }
.three-steps {
	margin-top:30px;
	display:block;
	text-align:center; }
.step-container {
	margin:0 auto;
	width:688px;
	display:block; }
.step-container * {	float: left; }
.step {
	display:block;
	width:146px;
	height:145px;
	margin: 0 15px; }
.sound_step { background:url(/images/sound_block.png) no-repeat transparent; }
.button_step { background:url(/images/button_block.png) no-repeat transparent; }
.share_step { background:url(/images/share_block.png) no-repeat transparent; }
.arrow {
	display:block;
	width:80px;
	height:145px;
	background:url(/images/arrow.png) no-repeat center transparent; }
.create-bar {
	display:block;
	width:688px;
	margin: 80px auto 60px auto;
	margin-top:80px; }
.create-bar div {
	color:#f15306;
	text-align:center;
	font-size:160%;
	text-transform:uppercase;
	line-height:1.4em; }
.count-pages {
	margin-left:46px;
	float:left; }
.count-pages span.count { font-size:200%; }
a.create-link { 
	text-decoration:none;
	font-size:250%;
	margin:0 auto;
	border-radius:5px;
	text-align:center;
	display:block;
	width:146px;
	background-color:#282625;
	padding: 5px 0px; }
a.create-link:hover	{
	color:#282625;
	background-color:#f15306; }
.powered-by {
	float:right;
	margin-right: 40px;
 	margin-top: -15px;}
.soundcloud-logo {
	background: url(/images/soundcloud-logo.png) no-repeat transparent;
	width:80px;
	height:50px;
	display:block; }
.small-logo {
	position:absolute;
	left:100px;
	display:block;
	width:160px;
	height:160px;
	background:url(/images/push-it-logo-small.png) transparent no-repeat;
	z-index:100;
}

/* User Page */

form.button_to, form.button_to div{ display:inline; }
.user-info {
	display:block;
	width:800px;
	position:relative;
	z-index:20;
	margin: 0 auto;
	text-align: center; }
.user-bar { 
	margin:0 auto; 
	margin-bottom:20px; 
	margin-top:60px; 
	width:642px; 
	text-align:right; }
.user-bar p { display:inline; }
.user-bar-border { 
	background:url(/images/user-bar.png) transparent no-repeat; 
	width: 642px; height:2px;
	margin:0 auto; margin-bottom:20px; }
.page-amt, .date-joined {
	font-size:385%;
}
.num-pages, .join-date { float:right; }
.num-pages div { float:left; }
.join-date div { float:right; }
.pages-made, .member-since {
	font-size:175%;
	line-height:20px;
	text-transform:uppercase;
}
.pages-made { text-align: left; margin: 9px 30px 0 5px; }
.member-since { text-align: right; margin: 9px 5px 0 0; }
.whose-pages {
	display:inline;
	font-size:385%;
	letter-spacing:0.02em;
	color:#f14306; }
.new-page {
	float:left;
	margin-left:70px;
}
.new-page a:link, .new-page a:visited, .new-page a:hover {
	width:90px;
	height:37px;
	display:block;
	line-height:2.5em;
	background:url(/images/new-page.png) transparent no-repeat 0 10px;
	color:#fff;
	text-decoration:none;
	padding:10px 0;
}
.new-page a:hover {
	background-position:-90px 10px;
}
.pages { text-align:center; margin-bottom: 30px; }
.page {
	margin:0 auto;
	display:block;
	width:642px;
	height:50px;
	background-color:rgba( 255, 255, 255, .8);
	margin-bottom:1px;
	line-height:2em;
	text-align:left; }
.page img, .page p { display:inline; }
.page .button-image {
	height:50px;
	margin-right:20px;
	float:left;
}
.page .page-info {
	float:left;
	line-height:50px;
}
.user-links { 
	float:right; 
	line-height:50px;
	height:50px;
	margin-right:10px; }
.user-links a {
	float:right;
}
.user-page-url {
	float:left;
	text-transform:uppercase;
	font-weight:normal;
	font-size:120%;
	font-family:"League Gothic", sans-serif;
	letter-spacing:0.07em;
	height:50px;
}
.user-page-url a:link, 
.user-page-url a:visited { color:#282625; text-decoration:none;}
.user-page-url a:hover { color:#f15306; }
.user-page-tagline {
	float:left;
	font-size:140%;
	font-style:italic;
	color:#666;
	text-transform:uppercase;
	margin-left:10px;
}
.visit-btn { display:block; width:50px; height:50px; background:url(/images/visit-btn.png) no-repeat 0 14px; margin-left:-1px; }
.visit-btn:hover { background-position: -50px 14px; }
.edit-btn { display:block; width:36px; height:50px; background:url(/images/edit-btn.png) no-repeat 0 14px; }
.edit-btn:hover { background-position: -36px 14px; }
.delete-btn { display:block; width:49px; height:50px; background:url(/images/delete-btn.png) no-repeat 0 14px; }
.delete-btn:hover { background-position: -49px 14px; }

/* Create New Page */

.create-new-mask {
	margin:0 auto;
	overflow: hidden;
	width: 642px;
	display: block;
	position: relative;
}
.step-tracker {
	width:264px;
	margin:60px auto;
	text-align:center;
}
.step-tracker div {
	display:block;
	float:left;
}
.step-one, .step-two, .step-three {
	display:block;
	float:left;
	width:40px;
	height:40px;
	font-size:200%;
	border-radius:5px;
	background-color:#f15306;
	line-height:40px;
}
.spacer {
	width:52px;
	height:40px;
	background:url(/images/spacer.png) transparent no-repeat -52px 19px;
	margin: 0 10px;
	line-height:40px;
	margin:0 10px;
}
.step-active {
	background-color:#282625;
	color: #f15306;
}
.spacer-active {
	background-position: 0px 19px;
}
.create-new {
	position: relative;
	left: 0;
	width: 2880px;
	padding:0;
	margin:0;
}
.form-division {
	display:block;
	height:400px;
	width: 642px;
	float:left;
}
.next-btn, .back-btn {
	float:left;
}
.button:link,.button:visited, .button:hover {
	padding:0 10px;
	height:1.8em;
	line-height:1.8em;
	display: block;
	background-color:#282625;
	color:#f14306;
	text-decoration:none;
}
.next-btn {
	
}
.back-btn {
	margin-bottom:10px;
}

/* Search */

.search-terms {
	padding:0;
	margin:0;
	display:block;
	margin-bottom:20px; }
.search-results {
	min-height:280px;
}
.search-results .header {
	line-height:32px;
}
.search {
	width:620px;
	height:280px;
	overflow:auto;
	display:block;
	text-align:left;
	margin:0 auto; }
.search-terms .search-button {
	display:inline;
	width:auto;
	vertical-align: middle;
	padding:3px 20px;
}
input#search {
}
input[type=text] {
	width: 200px;
	height:26px;
	padding:5px 10px;
	margin-right:10px;
}
.search img { vertical-align:middle; }
.track-name {
	margin-top:10px;
	background-color: rgba(0, 255, 0, 0.30);
	padding:10px;
	border: 1px solid #090;
	display:none; }
.track {
	width:97%;
	padding: 10px 0;
	border-bottom: dashed thin #111; }
.track a {
	margin-left:10px; }
.track-header { margin-bottom:10px; }
.track-title {
	font-size:120%;
	text-transform: uppercase;
	font-family: "Helvetica", Arial, sans-serif;
	font-weight: bold; }
.track-artist {
	font-style: italic;
	font-family: "Georgia", "Times New Roman", Times, serif; }
.track-artist a{ margin:0; }
.track img {
	width:35px;
	height: 35px; }
.track img.left { margin-left: 10px; }
.track .duration { line-height:35px; margin: 0 10px; }
.track .genre { line-height: 35px; margin: 0 10px; }
.track .no-stream { line-height: 35px; margin: 0 10px; }
.continue-from-search { margin-top: 20px;}
.continue-from-search .close-results{ float:right;}
.select-track:link, .select-track:visited,.select-track:hover { background-color: #f14306; color:#fff;}

/* Button */

.choose-buttons{
	width:280px;
	padding:0;
	margin:0 20px 0 0;
	display:block;
	float:left; }
.choose-button { background-color:#ccc; }
.image-preview {
	float:left;
	width:360px;
	height:360px;
	line-height:360px;
	text-align:center;
	background-color:#eee; }
.image-preview img { margin:0 auto; }
select {
	width:100%%;
	display:block; }
.choose-color { margin-top:10px; }

/* Naming */

input[type=submit] {
	margin-top:10px;
	padding:10px 10px;
	height:2.5em;
	border-radius:5px;
	border:none;
	background-color:#282625;
	color:#fff;
	text-decoration:none; }

/* Registration Page */

.registration { padding:20px 0; }
.registration h2 { padding:10px 0; }
.registration p { margin-bottom:10px; }

/* Button Page Template */ 

.button-page h1{
	font-size:300%;
	margin-top:30px; }
.button-page .content {
	width:720px;
	padding:0;
	text-align:center; }
.info_bar {
	display:block;
	height:50px;
	width:250px;
	overflow:hidden;
	background-color:#282625;
	color:#ccc; }
.info_bar a:link, .info_bar a:visited, .info_bar a:hover {
	color:#fff;
	text-decoration:underline;
	line-height:50px; }
p.creator { margin-right:20px; }

/* Legal Page */
.legal { 
	font-family: Helvetica, Arial, sans-serif; 
	width: 602px; 
	margin: 4em auto;
	padding: 20px;
	background-color: rgba( 255, 255, 255, .5 );
	text-align: left; }
.legal a:link, .legal a:visited, .legal a.hover { font-size:100%; font-family: Helvetica, Arial, sans-serif; text-transform: none; }
.legal { font-size:100%; }
.legal p { display:block; margin-bottom: 1em; }
.legal p.address { margin:0; }
.legal h3 { display:inline; }
.terms-of-use { color:#282625; }

/* Utilities */

a:link, a:visited, a:hover {
	color:#f14306;
}
.notice {
	padding:10px 0;
	display:block;
	background-color:rgba(240,200,60,0.30);
	border: 1px solid #a68100;
	color:#a68100;
	text-align:center;
	margin-bottom:10px;
}

.warning {
	padding:10px 0;
	display:block;
	background-color:rgba(255,0,0,0.30);
	border: 1px solid #990000;
	color:#990000;
	text-align:center;
	margin-bottom:10px;
}
.inline {
	display:inline;
}
a.tooltip {
	border-bottom: 1px dashed #c0c0c0;
	text-decoration: none;
	text-align:left;
	cursor:help; }

a.tooltip:hover {
	position: relative; }

a.tooltip span {
	display: none; }

a.tooltip:hover span {
	display: block;
	width:200px; font-size:70%;
 	position: absolute; top: 15px; left:-185px;
 	padding: 5px; margin: 10px; z-index: 100;
 	background: #f0f0f0; border: 2px dashed #b0b0b0;
	opacity: 0.9; }
.left { float:left; }
.right { float:right; }