<div class="upper-content clearfix">
	
  <div class="logo-and-tagline clearfix">
	
    <div class="push-it-home">
      <img src="images/push-it-logo.png" alt="Button" class="logo-button" />
    </div>

    <div class="three-steps">
      <div class="step-container clearfix">
	    SOUND + BUTTON = AWESOME
      </div>
    </div>

  </div>

  <div class="create-bar clearfix">
    <%= link_to "CREATE Your Own", new_page_path, :class => "create-link" %>
  </div>

</div>