<div class="index-social clearfix">

	<div class="facebook-social">
	  <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2Fpushitrealgood.com&amp;send=false&amp;layout=button_count&amp;width=100&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=271596936217635" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowTransparency="true"></iframe>
	</div>

	<div class="twitter-social">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-url="pushitrealgood.com" data-text="Sound + Button = Awesome. Create your own awesome at" data-count="horizontal">Tweet</a>
	  <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
	</div>
	
</div>

<div class="upper-content clearfix">
	
  <div class="logo-and-tagline clearfix">
		
    <div class="push-it-home">
      <img src="images/push-it-logo-beta.png" alt="Button" class="logo-button" />
    </div>

    <div class="three-steps">
      <div class="step-container clearfix"></div>
	  <script type="text/javascript">
	    var rand = Math.floor(Math.random() * (2));
	    if( rand > 0 ) $(".step-container").css("background-position","0 -224px")
	    $('.step-container').css("visibility","visible")
	    $('.step-container').click( toggle_hero )
	    function toggle_hero() {
		  if( $(".step-container").css("background-position") == "0px 0px" ) {
			$(".step-container").css("background-position","0 -224px")
		  } else if( $(".step-container").css("background-position") == "0px -224px" ) {
			$(".step-container").css("background-position","0 0")
		  }
	    }
	  </script>
    </div>

  </div>

  <div class="create-bar clearfix">
    <a href="/page/new" class="create-link"><span class="inner"></span></a>
  </div>

</div>
