<div class="upper-content clearfix">
	
  <div class="logo-and-tagline clearfix">
	
    <div class="push-it-home">
      <img src="images/push-it-logo-beta.png" alt="Button" class="logo-button" />
    </div>

    <div class="three-steps">
      <div class="step-container clearfix"></div>
	  <script type="text/javascript">
	    var rand = Math.floor(Math.random() * (2));
	    if( rand > 0 ) $(".step-container").css("background-position","0 -248px")
	    $('.step-container').css("visibility","visible")
	  </script>
    </div>

  </div>

  <div class="create-bar clearfix">
    <a href="/page/new" class="create-link"><span class="inner"></span></a>
  </div>

</div>