<div class="upper-content clearfix">
	
<div class="push-it">
  <img src="images/push-it-logo.png" alt="Button" class="logo-button" />
</div>

<div class="three-steps">
  <div class="step-container clearfix">
    <div class="step sound_step"></div>
    <div class="arrow"></div>
    <div class="step button_step"></div>
    <div class="arrow"></div>
    <div class="step share_step"></div>
  </div>
<div class="create-bar clearfix">
  <!-- <div class="count-pages"><span class="count"><%= @count %></span><br/>pages made</div> -->
  <!-- <div class="powered-by">powered by <br/><span class="soundcloud-logo"></span></div> -->
  <%= link_to "CREATE", new_page_path, :class => "create-link" %>
</div>
</div>



</div>