<p><%= @buttonofday %></p>
<div class="upper-content clearfix">
	
  <div class="logo-and-tagline clearfix">
		
    <div class="push-it-home">
      <img src="images/push-it-logo-beta.png" alt="Button" class="logo-button" />
    </div>

    <div class="three-steps">
      <div class="step-container clearfix"></div>
	  <script type="text/javascript">
	    var rand = Math.floor(Math.random() * (2));
	    if( rand > 0 ) $(".step-container").css("background-position","0 -224px")
	    $('.step-container').css("visibility","visible")
	    $('.step-container').click( toggle_hero )
	    function toggle_hero() {
		  if( $(".step-container").css("background-position") == "0px 0px" ) {
			$(".step-container").css("background-position","0 -224px")
		  } else if( $(".step-container").css("background-position") == "0px -224px" ) {
			$(".step-container").css("background-position","0 0")
		  }
	    }
	  </script>
    </div>

  </div>

  <div class="create-bar clearfix">
    <a href="/page/new" class="create-link"><span class="inner"></span></a>
  </div>

</div>