<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
    <script src="http://connect.soundcloud.com/sdk.js" type="text/javascript"></script>
	<script type="text/javascript">
      SC.initialize( { client_id: "8415d419022eb58d9e2b49997ad6b1ba" }  );
	  uri = new SC.URI( window.location.toString(), { decodeQuery: true, decodeFragment: true } );
	  SC.accessToken( uri.fragment.access_token );
	  document.getElementById('connect').submit();
	</script>
  </head>
  <body>
	<form method="post" action="http://pushitrealgood.com/page/new" id="connect" >
	  <input type="hidden" value="connect" name="action" id="action"/>
	</form>
  </body>
</html>
