<!DOCTYPE html>
<html lang="en">
  <head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Connect with SoundCloud</title>
	<script type="text/javascript">
	  // window.opener.setTimeout(window.opener.SC.connectCallback, 1);
	  parent.getAccessToken( window.location.toString() )
	</script>
  </head>
  <body>
  </body>
</html>
