	<div class="info-bar">
		
	  <div class="info-buttons">
		<span class="info-button-span mini-logo-container"><%= link_to  "Home", root_path %></span>
		<span class="info-button-span "><%= link_to "Create", "/page/new" %></span>
      </div>

    </div>