	<div class="info-bar">
      <div class="creation-status">
	    <p class="creator">created by <%= @page.signature %> |
		track: <%= link_to @page.track_name, @page.track_url, :target => "_blank" %> |
		track author: <%= link_to @page.track_author, @page.track_author_url, :target => "_blank" %></p>
      </div>
    </div>