<div class="division-inner">

  <div class="toggle-bar"><div class="search-section-button active">Search For Tracks</div><div class="upload-section-button">Use Your Own</div><div class="slider"></div></div>

  <div class="search-section">
	
    <div class="search-terms clearfix">
	
      <input id="search" name="search_term" size="30" type="text" value="Search SoundCloud for Tracks"/> <%= link_to image_tag("/images/search-icon.png"), "#", :class => 'search-button' %>

	</div> <!-- search-terms -->

    <div class="search-results">
	
    </div> <!-- search-results -->

  </div> <!-- search-section -->

  <div class="upload-section hidden">
	
	<div class="upload-options clearfix">
	  <p class="sc-username">Not Logged Into SoundCloud</p>
	</div> <!-- upload-options -->
	
    <div id="recorderUI" class="reset clearfix hidden">
      <div class="control-button-container">
        <a href="#" id="controlButton" class="record"><span id="timer" class="hidden">0:00</span></a>
      </div>
      <div id="otherControls">
	    <a href="#" id="reset" class="control-button">Reset</a>
        <a href="#" id="upload" class="control-button">Upload</a>
      </div>
      <input type="text" class="upload-title" id="upload-title"></input>
      <div id="uploadStatus"></div>
    </div>

	<div class="upload-results">
	
    </div> <!-- upload-results -->
	
  </div> <!-- upload-section -->

</div>