<div class="division-inner">

  <div class="toggle-bar"><div class="search-section-button active">Search For Tracks</div><div class="upload-section-button">Use Your Own</div><div class="slider"></div></div>

  <div class="search-section">
	
    <div class="search-terms clearfix">
	
      <input id="search" name="search_term" size="30" type="text" value="Search SoundCloud for Tracks"/> <%= link_to image_tag("/images/search-icon.png"), "#", :class => 'search-button' %>

	</div> <!-- search-terms -->

    <div class="search-results">
	
    </div> <!-- search-results -->

  </div> <!-- search-section -->

  <div class="upload-section hidden">
	
	<div class="upload-options clearfix">
	  <p class="sc-username">Not Logged Into SoundCloud</p>

	</div> <!-- upload-options -->
	
	<div class="upload-results">
	
    </div> <!-- upload-results -->
	
  </div> <!-- upload-section -->

</div>