<%= link_to "", root_path, :class => "small-logo" %>

<div class="user-info"> 
<div class="user-bar clearfix">
  <h1 class="whose-pages">PUSH IT REAL GOOD</h1>
  <div class="user-bar-border"></div>
</div>
</div>

<div class="about-us">

<p>This is Push It Real Good, and it is amazing. We built it. We rule.</p>

</div>