

<div class="user-info"> 
	<%= link_to "", root_path, :class => "small-logo" %>
<div class="user-bar clearfix">
  <h1 class="whose-pages">PUSH IT REAL GOOD</h1>
  <div class="user-bar-border"></div>
</div>
</div>

<div class="about-us">

<p>Once up on a time, Ben and Matt were making a website for the interwebs.</p>
<p>To rejoice "pushing" their files live, Ben thought playing his favorite song ever would be the perfect celebration.</p>
<p>Matt proclaimed "How selfish! We should let others join in the frivolity of simplistic audio bliss from the tubes of the internet."</p>
<p>Just like the <a href="http://pushitrealgood.com/page/original" >first page</a>, you merely pick a sound and button to create a simple toy to play with anywhere you feel the urge... the urge to push it, real good.</p>

</div>