<div class="push-it">
  <a href="#" id="play" class="play no-underline"><img src="images/button.png" alt="Button" class ="button" /></a>

  <!--<audio style="width:100%; height:15px" src="http://media.soundcloud.com/stream/4JFklbxkjGrz?url=http%3A//api.soundcloud.com/tracks/12156669" controls preload="auto"></audio>-->
	
  <!--<%= @track.to_a %>-->

  <script type="text/javascript">

  </script>
</div>