<div class="push-it">
  <a href="#" id="play" class="play no-underline"><img src="images/button.png" alt="Button" class ="button" /></a>

  <!--<audio style="width:100%; height:15px" src="http://media.soundcloud.com/stream/4JFklbxkjGrz?url=http%3A//api.soundcloud.com/tracks/12156669" controls preload="auto"></audio>-->
	
  <!--<%= @track.to_a %>-->

  <script type="text/javascript">

    /*
    
    var button = document.getElementById('play');

	function playSound(e) {
      // e = e||window.event;
	  e.preventDefault();
	  document.getElementById('clip-to-play').play();
    }

    window.onload = function() {
	  var clip = document.createElement('audio');
	  clip.src = "http://media.soundcloud.com/stream/4JFklbxkjGrz?url=http%3A//api.soundcloud.com/tracks/<%= @track.id %>";
	  clip.load();
	  clip.id = "clip-to-play"
	  clip.autobuffer = true;
	  clip.preload = 'auto';
      $('.push-it').append(clip);
	  button.onclick = playSound;
    }

    */

  </script>
</div>