<footer class="clearfix">
    <nav>
      <ul class="clearfix">		
		<li><a href="/about"><span class="inner single-line-link first">What is this?</span></a></li>
		<li><a href="/legal"><span class="inner single-line-link">Legal</span></a></li>
		<li><a href="/gallery"><span class="inner single-line-link">Gallery</span></a></li>
		<li><span class="inner single-line-link copyright">&#169; 2011 PUSH-IT-REAL-GOOD</span></li>
		<li><span class="inner single-line-link footer-powered-by"><a href="http://soundcloud.com" target="_blank">powered by <%= image_tag "/images/soundcloud-logo-small.png" %></a></span></li>
		<li><span class="inner single-line-link footer-mckinney last"><a href="http://mckinney.com" target="_blank">created by <%= image_tag "/images/mckinney-logo-small.png" %></a></span></li>
      </ul>
    </nav>
</footer>

<script type="text/javascript">

$.fn.textWidth = function(){
  var html_org = $(this).html();
  var html_calc = '<span>' + html_org + '</span>'
  $(this).html(html_calc);
  var width = $(this).find('span:first').width();
  $(this).html(html_org);
  return width;
};

$(function() {
 $('.copyright').css( "width", "auto" )
});
</script>