<footer>
    <nav>
      <ul class="clearfix">
		<li><a href="/wtf"><span class="inner single-line-link">What is this?</inner></span></a></li>
		<li><a href="/legal"><span class="inner single-line-link">Legal Terms</a></span></li>
		<li><a href="mailto:pusha@pushitrealgood.com"><span class="inner single-line-link">Contact Us</span></a></li>
      </ul>
    </nav>
  <div class="copyright">&#169; 2011 PUSH IT REAL GOOD</div>
</footer>